extends ../layout

block title
  title= "Players - " + settings.title

block content
  p This page lists all known players.  Checked players are considered
    | active for the day, and are included when generating random teams.
  ul
    each player in players
      li= player
