extends ../layout

block title
  title= "Random Players - " + settings.title

block content
  p How about these teams?
  div
    p Team Black
    ul
      each player in teams[0]
        li= player
  div V.S.
  div
    p Team White
    ul
      each player in teams[1]
        li= player
  // Try again button
