extends ../layout

block title
  title= "Random Players - " + settings.title

block content
  p How about these teams?
  section.team
    h2 Team Black
    ul
      each player in teams[0]
        li= player.name
  section.team
    h2 Team White
    ul
      each player in teams[1]
        li= player.name

  p: a(href='javascript:location.reload()') Try again
