{:name "Hockey Oracle"
 :version "2.0-alpha"
 :description "A management tool for amateur hockey leagues"
 :app-mode :dev
 :log-level :debug
 :web-server-port 8023
 :nrepl-port 8024
 :db-spec {:dbtype "postgresql"
           :dbname "hockeyoracle"
           :host "127.0.0.1"
           :user "thiru"
           :password "thiru"}}
