/*******************************
            Global
*******************************/

*
{
  box-sizing: border-box; /* Have element's width include border and padding: */
  font-family: "Fira Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}

body
{
  background: #FFF;
  color: #555; /* VAR COMMON-TEXT-COLOUR */
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  main
  {
    font-size: 0.6em;
  }
}

h2, h3, h4, h5, h6
{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a
{
  color: #001645; /* VAR DARK-BLUE-HEADING */
  font-weight: bold;
  text-decoration: none;
}
a.disabled
{
    color: black;
    cursor: default;
    opacity: 0.5;
    pointer-events: none !important;
}
a:focus
{
  color: #FFAC0A; /* VAR FOCUSED-COLOUR */
}
a:hover
{
  text-decoration: underline;
}

img
{
    max-width: 100%;
}

.clear-fix
{
    clear: both;
    display: block;
}

.comma:last-child
{
    display: none;
}

.success
{
    color: green;
}
.warning
{
    color: maroon;
}
.error, .fatal
{
    color: red;
}

.active
{
  color: #0F83BC; /* VAR BLUE-HEADING */
}

.full-width
{
    width: 100%;
}

.col
{
  float: left;
  padding: 5px; /* This is the gutter between columns */
}
.col-1 { width: 100%; }
.col-2 { width: 50%; }
.col-3 { width: 33.333%; }
.col-4 { width: 25%; }
.col-5 { width: 20%; }
.col-10 { width: 10%; }

.uppercase
{
    text-transform: uppercase;
}

.underlined-heading
{
    border-bottom: solid 2px #F55813; /* ORANGE-HIGHLIGHT */
}

.blue-heading
{
  background: #0F83BC; /* VAR BLUE-HEADING */
  color: white;
  margin: 1em 0 0 0;
  padding: 0.3em;
}
.grey-heading
{
  background: #888;
  color: white;
  margin: 1em 0 0 0;
  padding: 0.3em;
}

.data-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.data-list li
{
    padding: 0.5em;
}
.data-list li .selected
{
  font-weight: bold;
}
.data-list li:nth-child(even)
{
  background: #F5F5F5;
}
.data-list li:hover
{
  background: #D3FCFF;
}

.brief-table td
{
  padding: 0 0.5em 0.5em 0;
}
.brief-table td:first-child
{
  font-weight: bold;
}

.simple-list
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.simple-list li
{
  padding-bottom: 0.3em;
}
.simple-list li:last-child
{
  padding-bottom: 0;
}

.clear-button
{
    background: transparent;
    border: none;
    cursor: pointer;
}
.clear-button:hover
{
    background: #F5F5F5;
}

.button
{
  display: inline-block;
  background: #F55813; /* ORANGE-HIGHLIGHT */
  border: none;
  border-radius: 0.2em;
  box-shadow: 1px 1px 2px #888;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 0.3em 0.7em;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.button:hover
{
  box-shadow: 3px 3px 5px #555;
  text-decoration: none;
}
.button:focus, .button:active
{
  background: #FFAC0A; /* VAR FOCUSED-COLOUR */
  color: #555;
}
.button:disabled
{
    background: black;
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
    transition: none;
}
.button .button-text
{
  padding-left: 0.2em;
}

.wide-button
{
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  width: 100%;
}

.hidden
{
  display: none;
}

.template-items
{
    display: none;
}

.background-highlight
{
    background-color: #FFF2CC; /* VAR LIGHT-YELLOW */
}

/* Get rid of ugly system-outline */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*******************************
       Site-wide Layout
*******************************/

main
{
  margin: 0 auto;
  max-width: 1200px; /* VAR MAX-PAGE-WIDTH */
}

#top-shade
{
  background-color: #04080D; /* VAR TOP-SHADE */
  position: absolute;
  height: 35px; /* VAR TOP-BANNER-HEIGHT */
  width: 100%;
}
#top-heading
{
  color: white;
  font-weight: bold;
  height: 35px; /* VAR TOP-BANNER-HEIGHT */
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}
#top-heading a
{
    color: white;
}
#top-heading .logo
{
  height: 35px; /* VAR TOP-BANNER-HEIGHT */
}
#top-heading .title
{
  display: inline-block;
  font-size: 1em;
  left: 55px;
  position: absolute;
  top: 8px;
}
#top-heading a:hover
{
  text-decoration: none;
}
#top-right-heading
{
  position: absolute;
  right: 1.7em;
  top: 8px;
}

nav
{
  overflow: hidden; /* Prevent elements from collapsing their height when they only contain
                       floated elements: */
  max-width: 1200px; /* VAR MAX-PAGE-WIDTH */
  margin: 0 auto 1em auto;
  padding: 0.5em 25px 0.5em 25px; /* VAR CONTENT-WIDTH */
}
nav .nav-items
{
  margin: 0;
  padding: 0;
}
nav .nav-items li
{
  display: inline-block;
  float: left;
  padding-right: 1em;
}

@media screen and (max-width: 480px) {
  .nav-items .big-screen
  {
      display: none;
  }
}

#ham-menu-group
{
    background-color: #EEE;
    padding: 0.5rem;
}

main
{
  padding: 0 25px; /* VAR CONTENT-WIDTH */
}

#overlay
{
  background-color: rgba(0,0,0,0.5);
  display: none;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.dialog
{
    align-items: center;
    display: none;
    justify-content: center;
    width: 100%;
    z-index: 200;
}
.dialog-content
{
    background: white;
    border: solid 1px #EEE;
    border-radius: 5px;
    float: left;
    padding: 1em;
    width: 80%;
    z-index: 200;
}
.dialog header
{
  background: #0F83BC; /* VAR BLUE-HEADING */
  border-radius: 5px 5px 0 0;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
}
.dialog .content
{
  padding: 1em;
}

/*******************************
         Log in dialog
*******************************/

#login-dialog
{
    padding: 1em;
}
#login-dialog .dialog-content
{
    max-width: 400px;
}

/*******************************
       User detail page
*******************************/

#user-detail-page br
{
    display: block;
}

#user-detail-page #left-col
{
    width: 33%;
}
#user-detail-page #right-col
{
    width: 66%;
}

#user-detail-page #admin,
#user-detail-page #commissioner
{
    font-size: 1.5em;
    font-weight: bold;
}

/*******************************
      League list page
*******************************/

#league-list-page .button
{
  background: #001645; /* VAR DARK-BLUE-HEADING */
  font-size: 2em;
  padding: 1em 0;
}
#league-list-page .button:focus, #league-list-page .button:active
{
  background: #0F83BC; /* VAR BLUE-HEADING */
}

/*******************************
         Schedul page
*******************************/

#schedule-page #edit-controls
{
    margin-bottom: 1em;
}

#schedule-page #new-game-dialog
{
    padding: 1em;
}
#schedule-page #new-game-dialog .actions
{
    text-align: right;
}

#schedule-page .data-list
{
    font-size: 1.2em;
}

#schedule-page .cancelled
{
    text-decoration: line-through;
}

/*******************************
           Scores page
*******************************/

#scores-page .data-list
{
    font-size: 1.2em;
}

#scores-page .cancelled
{
    text-decoration: line-through;
}

#scores-page .data-list .game-time
{
    float: left;
}
#scores-page .data-list .game-score
{
    float: right;
}
#scores-page .data-list .game-score .team-logo
{
    width: 1.5em;
    vertical-align: middle;
}
#scores-page .data-list .game-score .team-name
{
    margin-right: 2em;
}
#scores-page .data-list .game-score .score
{
    float: right;
    text-align: right;
}

/*******************************
        Game detail page
*******************************/

#game-detail-page #quick-crud-btns > *
{
    float: right;
    margin-left: 0.5em;
}

#game-detail-page #game-info-edit
{
    padding: 0.5em;
}

#game-detail-page #confirm-inputs
{
    background-color: #FFF2CC; /* VAR LIGHT-YELLOW */
    border-radius: 0.3em;
    margin: 1.5em 0;
    padding: 1em;
}

#game-detail-page #reason-input
{
    margin: 0.5em 0;
    width: 100%;
}
#game-detail-page #save-confirm-group #reason-input-info
{
    float: left;
    font-size: 0.8em;
}
#game-detail-page #save-confirm-group .button
{
    float: right;
}

#game-detail-page #game-notes
{
    font-size: 1.5em;
}
#game-detail-page #game-notes > *
{
    margin: 0;
}
#game-detail-page #game-notes-input
{
    display: block;
    width: 100%;
}

/* Edit dialog formatting */
#edit-dialog .label-col > *,
#edit-dialog .label-col > *
{
  padding-right: 2em;
}
#edit-dialog .input-col > *
{
  width: 100%;
}
#edit-dialog td
{
  padding-bottom: 0.5em;
}
#edit-dialog input[type="checkbox"]
{
  margin: 0;
}
#edit-dialog .actions
{
  margin-top: 1em;
  text-align: right;
}

#game-detail-page .template-player-item
{
    display: none;
}

/* Define players listing column widths */
#game-detail-page #confirmed-players .player-name,
#game-detail-page #unconfirmed-players .player-name
{
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
}
#game-detail-page #confirmed-players .confirm-type,
#game-detail-page #unconfirmed-players .confirm-type
{
    display: inline-block;
    color: #777;
    margin-left: 0.5em;
    text-transform: uppercase;
}
#game-detail-page #confirmed-players .player-position,
#game-detail-page #unconfirmed-players .player-position
{
    display: block;
    float: right;
    margin: 0 1em 0.5em 0.5em;
}
#game-detail-page #confirmed-players .confirm-btn-toggle,
#game-detail-page #unconfirmed-players .confirm-btn-toggle
{
    display: block;
    float: right;
    margin: 0 0 0.5em 0.5em;
}
#game-detail-page #confirmed-players .confirm-btn-toggle .button,
#game-detail-page #unconfirmed-players .confirm-btn-toggle .button
{
    font-size: 1em;
}
#game-detail-page #confirmed-players .confirm-reason,
#game-detail-page #unconfirmed-players .confirm-reason
{
    color: #777;
    display: block;
    font-size: 0.8em;
    margin: 0.2em 0 0 0;
}
#game-detail-page #confirmed-players .confirm-time,
#game-detail-page #unconfirmed-players .confirm-time
{
    color: #777;
    display: block;
    font-size: 0.6em;
    font-style: italic;
    margin: 0.5em 0 0 0;
}

/* Don't initially show the random team elements */
#game-detail-page #random-teams,
#game-detail-page #pick-players
{
  display: none;
}

#game-detail-page .team-heading
{
  background: #0F83BC; /* VAR BLUE-HEADING */
  color: white;
  margin: 0 0 0.5em 0;
  padding: 0.3em;
}

/* Leave space below each team */
#game-detail-page .team
{
    margin-bottom: 1em;
    min-height: 10em;
    position: relative;
}

#game-detail-page #random-teams .player-name
{
    display: block;
    float: left;
}
#game-detail-page #random-teams .player-position
{
    display: block;
    float: right;
}

/* Logo sizing */
#game-detail-page .team-logo
{
    left: 40%;
    max-height: 10em;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*******************************
        Player list page
*******************************/

#player-list-page .player-position,
#player-list-page .action-buttons
{
    display: block;
    float: right;
    margin: 0 1em 0.5em 0.5em;
}

/*******************************
       Player detail page
*******************************/

#player-detail-page br
{
    display: block;
}

#player-detail-page #left-col
{
    width: 33%;
}
#player-detail-page #right-col
{
    width: 66%;
}

#player-detail-page #admin,
#player-detail-page #commissioner
{
    font-size: 1.5em;
    font-weight: bold;
}


/*******************************
     League management page
*******************************/

#manage-league-page #email-reminder-day-offset,
#manage-league-page #email-reminder-time
{
    text-align: center;
    width: 2em;
}
#manage-league-page #email-reminder-time
{
    width: 5em;
}