extends layout

block title
  title= settings.title

block content
  p What would you like to do?
  ul
    li: a(href='./players/randomize') Generate random teams from the pool of all active players
    li: a(href='./teams/randomize') Select two random pre-defined teams
