extends layout

block title
  title= settings.title

block content
  p What would you like to do?
  ul
    li: a(href='./players/randomize') Randomize all players into two teams
    li: a(href='./teams/randomize') Select two random teams by theme
