extends layout

block title
  title= settings.title

block content
  p What would you like to do?
  ul.no-bullet
    li: a(href='./players/randomize') Make teams
    li: a(href='./teams/randomize') Choose a theme game
