<!DOCTYPE html>
html(lang='en-CA')
  head
    block title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/stylesheets/base.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquery-2.1.0.min.js')
    script(type='text/javascript', src='/javascripts/globals.js')
  body
    script.
      $(document).ready(function() {
        $('body').centre(true, false);
      });
    header
      h1
        a(href='/') Team Generator
      nav
        a(href='/players') Players
        a(href='/teams') Teams
    block content
