/* Generic/high-level styles **************************************** */
*
{
  color: #555555;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

a
{
  color: #3598DB;
  text-decoration: none;
}
a *
{
  color: #3598DB;
}
a:hover
{
  text-decoration: underline;
}

h1, h2, p
{
  margin-bottom: 0.3em;
}

input[type=checkbox]
{
  display: none;
}

input[type=submit]
{
  margin-top: 1em;
}
input[type=checkbox] + span
{
  background: transparent url('/images/stick-bullet.png') no-repeat left center;
  display: inline-block;
  opacity: 0.4;
  padding: 0 0 0 1em;
  text-decoration: line-through;
}
input[type=checkbox]:checked + span
{
  background: transparent url('/images/stick-bullet.png') no-repeat left center;
  display: inline-block;
  padding: 0 0 0 1em;
  opacity: inherit;
  text-decoration: inherit;
}

label span
{
  margin-left: 0.2em;
}

li
{
  margin-bottom: 0.3em;
  padding-left: 0.1em;
}

ul
{
  list-style: none;
  list-style-image: url('/images/puck-bullet.png');
  margin-top: 0.5em;
  padding-left: 1em;
}

ul.no-bullet
{
  list-style: none;
  padding-left: 0;	
}

/* Master layout **************************************************** */

header h1
{
  margin: 0 10% 0.2em 10%;
}
header h1 a
{
  color: inherit;
}
header h1 img
{
  height:1.5em;
  padding-right: 0.4em;
  vertical-align:bottom;
}

nav
{
  background-color: #3598DB;
  margin-bottom: 0.5em;
  padding: 1em 10%;
}

nav *
{
  color: white;
  padding-right: 1em;
}

#page-content
{
  margin: 1em 10%;
}

footer
{
  color: #999;
  font-size: 0.5em;
  text-align: center;
}

/* [START] Sticky footer */
html
{
  position: relative;
  min-height: 100%;
}
body
{
  margin: 0 0 1em; // bottom footer height
}
footer
{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5em;
  width: 100%;
}
/* [END] Sticky footer */

/* Random players page ********************************************** */

section.team { margin: 1em 0; }
