*
{
  /*margin: 0;
  padding: 0;*/
  font-family: Helvetica, Arial, sans-serif;
}

body
{
  width: 90%;
}

a
{
  text-decoration: none;
}

ul
{
  list-style: none;
  list-style-image: url('/images/bullet.png');
  padding-left: 1em;
}

ul.no-bullet
{
  list-style: none;
  padding-left: 0;	
}

nav *
{
  padding-right: 1em;
}
