/*
 * ## Summary
 *
 * Common styles used throughout the website.
 *
 * */

@import 'vars.css';

*
{
  box-sizing: border-box; /* Have element's width include border and padding: */
  font-family: "Fira Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}

body, html
{
  background: #FFF;
  color: var(--grey-dark);
  margin: 0;
  padding: 0;
}

main
{
  margin: 0 auto;
  max-width: var(--max-page-width);
}

@media screen and (max-width: 480px) {
  main
  {
    font-size: 0.6em;
  }
}

h2, h3, h4, h5, h6
{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a
{
  color: var(--blue-dark);
  font-weight: bold;
  text-decoration: none;
}
a.disabled
{
    color: grey;
    cursor: default;
    opacity: 0.8;
    pointer-events: none !important;
}
a:focus
{
  color: var(--orange-dark);
}
a:hover
{
  text-decoration: underline;
}

img
{
    max-width: 100%;
}

.clear-fix
{
    clear: both;
    display: block;
}

.comma:last-child
{
    display: none;
}

.success
{
    color: green;
}
.warning
{
    color: maroon;
}
.error, .fatal
{
    color: red;
}

.active
{
  color: var(--blue-light);
}

.full-width
{
    width: 100%;
}

.col
{
  float: left;
  padding: 5px; /* This is the gutter between columns */
}
.col-1 { width: 100%; }
.col-2 { width: 50%; }
.col-3 { width: 33.333%; }
.col-4 { width: 25%; }
.col-5 { width: 20%; }
.col-10 { width: 10%; }

.uppercase
{
    text-transform: uppercase;
}

.underlined-heading
{
    border-bottom: solid 2px var(--orange-light);
}

.blue-heading
{
  background: var(--blue-light);
  color: white;
  margin: 1em 0 0 0;
  padding: 0.3em;
}
.grey-heading
{
  background: #888;
  color: white;
  margin: 1em 0 0 0;
  padding: 0.3em;
}

.data-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.data-list li
{
    padding: 0.5em;
}
.data-list li .selected
{
  font-weight: bold;
}
.data-list li:nth-child(even)
{
  background: var(--grey-light);
}
.data-list li:hover
{
  background: #D3FCFF;
}

.brief-table td
{
  padding: 0 0.5em 0.5em 0;
}
.brief-table td:first-child
{
  font-weight: bold;
}

.simple-list
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.simple-list li
{
  padding-bottom: 0.3em;
}
.simple-list li:nth-child(odd)
{
  background: var(--grey-light);
}
.simple-list li:last-child
{
  padding-bottom: 0;
}
.simple-list li:hover
{
  background: #D3FCFF;
}

.clear-button
{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
.clear-button:hover
{
    background: var(--grey-light);
}

.button
{
  display: inline-block;
  background: var(--orange-light);
  border: none;
  border-radius: 0.2em;
  box-shadow: 1px 1px 2px #888;
  cursor: pointer;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 0.3em 0.7em;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.button:hover
{
  box-shadow: 3px 3px 5px var(--grey-dark);
  text-decoration: none;
}
.button:focus, .button:active
{
  background: var(--orange-dark);
  color: var(--grey-dark);
}
.button:disabled
{
    background: grey;
    box-shadow: none;
    cursor: default;
    opacity: 0.8;
    transition: none;
}
.button .button-text
{
  padding-left: 0.2em;
}

.wide-button
{
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  width: 100%;
}

.hidden
{
  display: none;
}

.template-items
{
    display: none;
}

.background-highlight
{
    background-color: gold;
}

/* Get rid of ugly system-outline */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*******************************
       Site-wide Layout
*******************************/

#top-heading-shade
{
  background-color: #04080D;
  position: absolute;
  height: var(--top-banner-height);
  width: 100%;
}
#top-heading
{
  color: white;
  font-weight: bold;
  height: var(--top-banner-height);
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}
#top-heading a
{
    color: white;
}
#top-heading .logo
{
  height: var(--top-banner-height);
}
#top-heading .title
{
  display: inline-block;
  font-size: 1em;
  left: 55px;
  position: absolute;
  top: 8px;
}
#top-heading a:hover
{
  text-decoration: none;
}
#top-right-heading
{
  position: absolute;
  right: 1.7em;
  top: 8px;
}

nav
{
    max-width: var(--max-page-width);
    margin: 0 auto 1em auto;
    overflow: hidden; /* Prevent elements from collapsing their height when
                         they only contain floated elements: */
    padding: 0.3em var(--content-width) 0 var(--content-width);
}
nav .nav-items
{
    margin: 0;
    overflow: hidden;
    padding: 0;
}
nav .nav-items li
{
  display: inline-block;
  float: left;
  padding-right: 0.5em;
}
nav .nav-items li:last-child
{
  display: inline-block;
  float: right;
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
  .nav-items .big-screen
  {
      display: none;
  }
}

main
{
  padding: 0 var(--content-width);
}

#overlay
{
  background-color: rgba(0,0,0,0.5);
  display: none;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.dialog
{
    align-items: center;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
.dialog-content
{
    background: white;
    border: solid 1px #EEE;
    border-radius: 5px;
    float: left;
    padding: 1em;
    width: 80%;
    z-index: 200;
}
.dialog header
{
  background: var(--blue-light);
  border-radius: 5px 5px 0 0;
  color: white;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0.5em 1em 0.5em 1em;
}

/*******************************
       User detail page
*******************************/

#user-detail-page br
{
    display: block;
}

#user-detail-page #left-col
{
    width: 33%;
}
#user-detail-page #right-col
{
    width: 66%;
}

#user-detail-page #admin,
#user-detail-page #commissioner
{
    font-size: 1.5em;
    font-weight: bold;
}

/*******************************
      Home page
*******************************/

#home-page .button
{
  background: var(--blue-dark);
  font-size: 2em;
  padding: 1em 0;
}
#home-page .button:focus, #home-page .button:active
{
  background: var(--blue-light);
}

/*******************************
         Schedule page
*******************************/

#schedule-page #edit-controls
{
    margin-bottom: 1em;
}

#schedule-page #new-game-dialog
{
    padding: 1em;
}
#schedule-page #new-game-dialog .dialog-content
{
    max-width: 400px;
}
#schedule-page #new-game-dialog .actions
{
    text-align: right;
}

#schedule-page .data-list
{
    font-size: 1.2em;
}

#schedule-page .cancelled
{
    text-decoration: line-through;
}

/*******************************
           Scores page
*******************************/

#scores-page .data-list
{
    font-size: 1.2em;
}

#scores-page .cancelled
{
    text-decoration: line-through;
}

#scores-page .data-list .game-time
{
    float: left;
}
#scores-page .data-list .game-score
{
    float: right;
}
#scores-page .data-list .game-score .team-logo
{
    width: 1.5em;
    vertical-align: middle;
}
#scores-page .data-list .game-score .team-name
{
    margin-right: 2em;
}
#scores-page .data-list .game-score .score
{
    float: right;
    text-align: right;
}

/*******************************
        Game detail page
*******************************/

#game-detail-page #quick-crud-btns > *
{
    float: right;
    margin-left: 0.5em;
}

#game-detail-page #game-info-edit
{
    padding: 0.5em;
}

#game-detail-page #confirm
{
    background-color: gold;
    border-radius: 0.3em;
    margin: 1.5em 0;
    padding: 1em;
}

#game-detail-page #reason-input
{
    margin: 0.5em 0;
    width: 100%;
}
#game-detail-page #save-confirm-group #reason-input-info
{
    float: left;
    font-size: 0.8em;
}
#game-detail-page #save-confirm-group .button
{
    float: right;
}

#game-detail-page #game-notes
{
    font-size: 1.5em;
}
#game-detail-page #game-notes > *
{
    margin: 0;
}
#game-detail-page #game-notes-input
{
    display: block;
    width: 100%;
}

/* Define players listing column widths */
#game-detail-page .player-confirms .player-name
{
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
}
#game-detail-page .player-confirms .player-position
{
    display: block;
    float: right;
    margin: 0 1em 0.5em 0.5em;
}
#game-detail-page .player-confirms .playing-toggle-col
{
    display: block;
    float: right;
    margin: 0 0 0.5em 0.5em;
}
#game-detail-page .player-confirms .playing-toggle-col .button
{
    font-size: 1em;
}
#game-detail-page .player-confirms .confirm-reason
{
    color: #777;
    display: block;
    font-size: 0.8em;
    margin: 0.2em 0 0 0;
}
#game-detail-page .player-confirms .confirm-time,
#game-detail-page .player-confirms .confirmed-by
{
    color: #777;
    font-size: 0.6em;
    font-style: italic;
    margin: 0.5em 0 0 0;
}

/* Don't initially show the random team elements */
#game-detail-page #random-teams,
#game-detail-page #pick-players
{
  display: none;
}

#game-detail-page .team-heading
{
  background: var(--blue-light);
  color: white;
  margin: 0 0 0.5em 0;
  padding: 0.3em;
}

/* Leave space below each team */
#game-detail-page .team
{
    margin-bottom: 1em;
    min-height: 10em;
    position: relative;
}

#game-detail-page #random-teams .player-name
{
    display: block;
    float: left;
}
#game-detail-page #random-teams .player-position
{
    display: block;
    float: right;
}

/* Logo sizing */
#game-detail-page .team-logo
{
    left: 40%;
    max-height: 10em;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#game-detail-page #make-teams-msg
{
    background-color: gold;
    margin: 1em;
    padding: 0.5em;
}

#edit-player-dialog .dialog-content
{
    max-width: 400px;
}
#edit-player-dialog .label-col > *,
#edit-player-dialog .label-col > *
{
  padding-right: 2em;
}
#edit-player-dialog .input-col > *
{
  width: 100%;
}
#edit-player-dialog td
{
  padding-bottom: 0.5em;
}
#edit-player-dialog input[type="checkbox"]
{
  margin: 0;
}
#edit-player-dialog .actions
{
  margin-top: 1em;
  text-align: right;
}

/* Chat */
#game-detail-page #chat
{
    border-top: solid 1px #DDD;
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;
}
#game-detail-page #chat header
{
    margin: 0 0 1em 0;
}
#game-detail-page #chat-editor
{
    display: block;
    height: 10em;
    width: 100%;
}
#game-detail-page #chat-msg-char-count
{
    font-size: 0.8em;
    margin: 0 0 1em 0;
}
#game-detail-page .msg-updated
{
    display: inline-block;
    color: #777;
    font-size: 0.6em;
    font-style: italic;
    margin: 0 0 0 0.5em;
}
#game-detail-page .msg-content
{
    margin: 1em 0 0 0;
}

/*******************************
        Player list page
*******************************/

#player-list-page .player-position
{
    display: block;
    float: right;
    margin: 0 1em 0.5em 0.5em;
}

/*******************************
       Player detail page
*******************************/

#player-detail-page br
{
    display: block;
}

#player-detail-page #left-col
{
    width: 33%;
}
#player-detail-page #right-col
{
    width: 66%;
}

#player-detail-page #admin,
#player-detail-page #commissioner
{
    font-size: 1.5em;
    font-weight: bold;
}

/*******************************
     League management page
*******************************/

#manage-league-page #email-reminder-day-offset,
#manage-league-page #email-reminder-time
{
    text-align: center;
    width: 2em;
}
#manage-league-page #email-reminder-time
{
    width: 5em;
}
