/*
 * ## Summary
 *
 * Global variables used throughout the website.
 * The colours defined here are based on a colour scheme from
 * [Design Seeds](http://www.design-seeds.com).
 *
 * */

:root
{
  --brown: #4D464B;
  --blue-lightest: #D1D5E9;
  --blue-medium: #ACB3D4;
  --blue-darkest: #7C84A9;
  --green: #444D4E;
  --orange: #D07866;
  --beige: #E6E8DC;

  /* Custom colours I added, and not part of original theme: */
  --grey-light: #EFEFEF;
}
