/*
 * ## Summary
 *
 * Global variables used throughout the website.
 *
 * */

:root
{
  --grey-dark: #555;
  --grey-light: #F5F5F5;
  --blue-dark: #001645;
  --blue-light: #0F83BC;
  --orange-dark: #FFAC0A;
  --orange-light: #F55813;

  --content-width: 25px;
  --max-page-width: 1200px;
  --top-banner-height: 35px;
}
