<div id='player-randomize' ng-cloak ng-controller='playerRandomCtrlr'>
  <!-- Loading -->
  <p class='ui info message' ng-if='!data.finishedLoading'>Loading players...</p>

  <!-- TODO: data.teams.length doesn't hide, use another mechanism to count players per team -->
  <!-- No Data -->
  <p class='ui warning message' ng-if='data.finishedLoading && !data.teams.length'>
    No players found
  <p>

  <!-- Random Teams -->
  <div ng-if='data.teams.length'>
    <section class='team' ng-repeat='team in data.teams'>
      <h3 class='ui inverted black block header center aligned'>
        <img ng-src='/images/team-logos/{{team.name | lowercase}}.png' />
        {{team.name}}
      </h3>
      <div class='ui link list'>
        <a class='item' ng-repeat='player in team'>
          {{player.firstName + ' ' + player.lastName}}
        </a>
      </div>
    </section>
  </div>

  <!-- Question/actions -->
  <div class='ui blue message accept-question' ng-if='data.teams.length'>
    <p>How do you like these teams?</p>
    <div class='buttons'>
      <!-- Re-randomize -->
      <button class='ui blue labeled button' ng-click='reload()' title='Redo randomization'>
        Redo
      </button>
      <!-- Back -->
      <a class='ui blue labeled button' href='/players' title='Change active players'>
        Players
      </a>
    </div>
  </div>
</div>
