/*******************************
            Global
*******************************/

*
{
  box-sizing: border-box; /* Have element's width include border and padding: */
  overflow: hidden; /* Prevent elements from collapsing their height when they only contain
                       floated elements: */
  text-rendering: optimizeLegibility;
}

body
{
  color: #555; /* VAR COMMON-TEXT-COLOUR */
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

body
{
  background: #FFF;
  min-width: 320px;
}

a
{
  color: #3598DB; /* VAR BANNER-BLUE */
  text-decoration: none;
}
a *
{
  color: #3598DB; /* VAR BANNER-BLUE */
}
a:hover
{
  text-decoration: underline;
}

.col
{
  float: left;
  padding: 5px; /* This is the gutter between columns */
}
.col-1 { width: 100%; }
.col-2 { width: 50%; }
.col-3 { width: 33.333%; }
.col-4 { width: 25%; }
.col-5 { width: 20%; }

/*******************************
       Site-wide Layout
*******************************/

header
{
  /*background-color: yellow;*/
  font-weight: bold;
  padding: 0 5%; /* VAR CONTENT-MARGIN-HORIZ */
}
header a
{
  /*background-color: blue;*/
  display: block;
  height: 35px;
}
header a:hover
{
  text-decoration: none;
}
header .logo
{
  /*background-color: red;*/
  display: inline-block;
  height: 100%;
  padding-right: 0.2em;
  vertical-align: middle;
}
header .title
{
  color: #555; /* VAR COMMON-TEXT-COLOUR */
  display: inline-block;
  font-size: 1.9em;
  height: 100%;
  vertical-align: middle;
}

nav
{
  background-color: #3598DB; /* VAR BANNER-BLUE */
  margin: 0.5em 0;
  padding: 1em 5%; /* VAR CONTENT-MARGIN-HORIZ */
}
nav a
{
  color: white;
  padding-right: 1em;
}

main
{
  margin: 0 5%; /* VAR CONTENT-MARGIN-HORIZ */
}

/*******************************
      Player list page
*******************************/



/*******************************
      Random players page
*******************************/

/* Leave space below each team */
#player-randomize section.team
{
  margin-bottom: 1em;
}

/* Space out 'accept question' buttons */
#player-randomize .accept-question .button
{
  margin-right: 0.5em;
  font-size: 0.8em;
}

/* Logo sizing */
#player-randomize section.team img
{
  max-height: 1.2em;
  max-width: 1.2em;
  vertical-align: middle;
}
